<div class="col-md-9" id="heatMapContainer">
    <!-- <div class="appHeatMap" id="appHeatMap"></div> -->
    <div id="container" style="height: 600px; width: 800px; margin:1em"></div>
</div>
<!-- <div class="clearfix"></div> -->
<div class="col-md-3">
    <!-- <app-visuals-histogram-chart [(data)]="histogramDataSet"></app-visuals-histogram-chart> -->
    <span id="Hcontainer1" style="width:500px; height: 300px;top:50px;position: relative;"></span>
</div>
<!-- <div id="heatmap"></div> -->

<!-- <div id="container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div> -->