<div class="row">
    <div class="col-xs-12 text-center">
        Ground
    </div>
</div>
<div *ngIf="smgwNDF === true">
    <div class="row text-center">
        <div class="col-md-12">
            Data Offline
        </div>
    </div>
</div>

<div *ngIf="!smgwNDF">
    <div class="row text-center">

        <div class="col-md-12">
            <span class="bigDisp">{{(gwDat[0].levelvalue)/1000| number: '1.1-2'}}</span>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <span *ngIf="!gwDat[0].offline" class="microDisp">Today - {{(gwDat[0].today)/1000 | number:'1.1-2'}}</span>
            <span *ngIf="gwDat[0].offline">[No Data]</span>

        </div>
        <div class="col-md-12">


        </div>

        <div class="col-md-12 right-text">
            <span class="microDisp">Forecast</span>
            <span class="tinyDisp">-</span>
        </div>


    </div>


</div>
