<app-nav-comp></app-nav-comp>
<!-- Tab -->
<div class="container-fluid">
    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-2 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='pie'}" (click)="open('pie')">
                        <h4 class="fa fa-pie-chart" style="font-size:20px"></h4>
                        <br/>Sources
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='SL'}" (click)="open('SL')">
                        <h4 class="fa fa-line-chart" style="font-size:20px"></h4>
                        <br/>Sources Trend
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='ganttChart'}" (click)="open('ganttChart')">
                        <h4 class="glyphicon glyphicon-tasks"></h4>
                        <br/>Pumps Yield
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='RTS'}" (click)="open('RTS')">
                        <h4 class="	fa fa-area-chart" style="font-size:20px"></h4>
                        <br/>Water Demand
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='tree'}" (click)="open('tree')">
                        <h4 class="glyphicon glyphicon-th"></h4>
                        <br/>Block Level
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='usageChart'}" (click)="open('usageChart')">
                        <h4 class="fa fa-users" style="font-size:20px"></h4>
                        <br/>High Users
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='heatMap'}" (click)="open('heatMap')">
                        <h4 class="fa fa-barcode" style="font-size:20px"></h4>
                        <br/>Water Map
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <div class="clearfix"></div>
                <!-- Pie chart section -->
                <div class="bhoechie-tab-content" [ngClass]="{'active':navActive==='pie'}" *ngIf="navActive=='pie'">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:3%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div>
                    <hr>
                    <app-visuals-pie-chart [(data)]="options"></app-visuals-pie-chart>
                </div>
                <!-- Heat Map section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='heatMap'}" [hidden]="navActive!='heatMap'">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:3%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="heatMapDataSet.length > 0">
                        <app-visuals-heat-map [(data)]="heatMapDataSet"></app-visuals-heat-map>
                    </div>
                    <!-- <div class="col-md-6" *ngIf="histogramDataSet.length > 0">
                        <app-visuals-histogram-chart [(data)]="histogramDataSet"></app-visuals-histogram-chart>
                    </div> -->
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='RTS'}" *ngIf="navActive=='RTS' && RTSCHARTStatus">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:3%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div>
                    <hr>
                    <div style="margin-left: 17%" id="STPChartContainer">
                        <div class="STPChartContainer0 col-md-6"></div>
                        <div class="STPChartContainer1 col-md-6"></div>
                        <div class="STPChartContainer2 col-md-6"></div>
                    </div>
                </div>
                <!-- train section  *ngIf="navActive=='usageChart'"-->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='usageChart'}" [hidden]="navActive!='usageChart'">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:3%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div>
                    <hr>
                    <svg width="500" height="500" font-family="sans-serif" font-size="10" text-anchor="middle" id="generateGraph"></svg>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='ganttChart'}" *ngIf="navActive=='ganttChart'">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:3%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div>
                    <hr>
                    <div id="ganttChartContainer"></div>
                </div>

                <!-- train section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='tree'}" *ngIf="navActive=='tree' && treeMapShowStatus && treeMapChartSet.children.length > 0">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:3%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div>
                    <hr>
                    <app-visuals-treemap-chart [(data)]="treeMapChartSet"></app-visuals-treemap-chart>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='SL'}" *ngIf="navActive=='SL' && sparklinesSetData.length > 0">
                    <!-- <div class="row">
                        <div class="col-md-3">
                            <label>From Date:</label>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-3 pull-left">
                            <label>To Date:</label>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                    </div> -->

                    <form class="form-inline">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1.5  pull-left" style="margin-top: 1.5%; margin-left: 22%">
                                    <label>
                                        <font size="3">
                                            <b> Last </b>
                                        </font>
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" type="number" placeholder="Enter the week number(Max-52)" size="2" title="Enter the week number(Max-52)"
                                        min="0" max="52"> </div>
                                <div class="col-md-1" style="margin-top: 1.5%;margin-left: 15%">
                                    <font size="3">Week(s)</font>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <app-visuals-sparkline-chart [data]="['132','34','32',60,'50']"></app-visuals-sparkline-chart>
                </div>
            </div>
        </div>
    </div>
</div>