
/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    /* border:1px solid #ddd; */
    margin-top: -20px;
    /* margin-left: 50px; */
 /*    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
  }
  div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    width: 150px;
  }
  div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
   
  }
  div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group>a .glyphicon,
  div.bhoechie-tab-menu div.list-group>a .fa {
    color: #5A55A3;
  }
  div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a.active,
  div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
  div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #5A55A3;
    background-image: #5A55A3;
    color: #ffffff;
  }
  div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3;
  }
  
  div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
  }
  
  div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
  }

  /* #chart {
    width: 960px;
    height: 500px;
    background: #ddd;
  }
  
  text {
    pointer-events: none;
  }
  
  .grandparent text {
    font-weight: bold;
  } */
  
  /* rect {
    fill: none;
    stroke: #fff;
  } */
  
  /* rect.parent,
  .grandparent rect {
    stroke-width: 2px;
  }
  
  .grandparent rect {
    fill: orange;
  }
  
  .grandparent:hover rect {
    fill: #ee9700;
  }
  
  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }
  
  .children rect.parent {
    fill: #bbb;
    fill-opacity: 1;
  }
  
  .children:hover rect.child {
    fill: #bbb;
  }
  .sparklinesdata svg g path {
    fill: none;
    stroke: red;
  }  */

  /* .treemapChart div .node {
      border: solid 1px white;
      font: 10px sans-serif;
      line-height: 12px;
      overflow: hidden;
      position: absolute;
      text-indent: 2px;
      color: #000;
  } */

  div#STPChartContainer {
    display: flow-root;
}

.ganttChartStyle {
  margin-left: 20%;
}
.button {
  background-color: #5A55A3; 
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  /* margin: 4px 2px; */
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}