<app-nav-comp></app-nav-comp>
<!-- Tab -->
<div class="container-fluid">
    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
    <ngx-loading [show]="visualLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-2 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='pie'}" (click)="open('pie')">
                        <h4 class="fa fa-pie-chart" style="font-size:20px"></h4>
                        <br/>Sources
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='SL'}" (click)="open('SL')">
                        <h4 class="fa fa-line-chart" style="font-size:20px"></h4>
                        <br/>Sources Trend
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='ganttChart'}" (click)="open('ganttChart')">
                        <h4 class="glyphicon glyphicon-tasks"></h4>
                        <br/>Pumps Yield
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='RTS'}" (click)="open('RTS')">
                        <h4 class="	fa fa-area-chart" style="font-size:20px"></h4>
                        <br/>Water Demand
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='tree'}" (click)="open('tree')">
                        <h4 class="glyphicon glyphicon-th"></h4>
                        <br/>Block Level
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='usageChart'}" (click)="open('usageChart')">
                        <h4 class="fa fa-users" style="font-size:20px"></h4>
                        <br/>High Users
                    </a>
                    <a href="javascript:;" class="list-group-item" [ngClass]="{'active':navActive==='heatMap'}" (click)="open('heatMap')">
                        <h4 class="fa fa-barcode" style="font-size:20px"></h4>
                        <br/>Water Map
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <div class="clearfix"></div>
                <!-- Pie chart section -->
                <div class="bhoechie-tab-content" [ngClass]="{'active':navActive==='pie'}" *ngIf="navActive=='pie' && options.length > 0">
                    <!-- Date Picker -->
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 9%">
                            <label>
                                <font size="3">
                                    <b>From Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:0%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:-0.5%;">
                            <button class="button button2" (click)="getpiecharts()"> Display </button>
                        </div>
                        <!-- Notes Section -->
                         <div class="col-sm-2" style="float: right;font-style: italic;"><b>Note :</b> Display of the quantity of water in K/L by different water sources for the given date range.</div>
                        <!-- <p class="chartNotesSection">Note : Display of the quantity of water in K/L by different water sources for the given date range.</p> -->
                    </div>
                    <hr style="margin-left:12%;margin-top:-5%">
                    <!-- Chart section -->
                    <app-visuals-pie-chart [(data)]="options" #piechild></app-visuals-pie-chart>
                    </div>
                <!-- Heat Map section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='heatMap'}" [hidden]="navActive!='heatMap'">
                    <!-- Date Picker -->
                    <div class="row">
                      <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                          <label>
                              <font size="3">
                                  <b>From Date:</b>
                              </font>
                          </label>
                      </div>
                      <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:0%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.4%; margin-left:-0.5%;">
                            <button class="button button2" (click)="heatMapChart()"> Display </button>
                        </div>
                        <!-- Notes Section -->
                         <div class="col-sm-10" style="float: right;font-style: italic;"><b>Note :</b>Display of the trend of overall consumption of Water in K/L for the given months. Each cell represent a day and on click of each cell, the consumption trend for the respective day is shown below.</div>
                        <!-- <p class="chartNotesSection">Note : Display of the trend of overall consumption of Water in K/L for the given months. Each cell represent a day and on click of each cell, the consumption trend for the respective day is shown below.</p> -->
                    </div>
                      <hr style="margin-left:12%;margin-top:0%">
                    <div *ngIf="heatMapDataSet.length > 0">
                        <app-visuals-heat-map [(data)]="heatMapDataSet" #heatChild></app-visuals-heat-map>
                    </div>
                </div>
                <!-- Raw STP section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='RTS'}" *ngIf="navActive=='RTS' && STPChartShowStatus && STPChartDataSet">
                    <!-- Date Picker -->
                    <div class="row">
                      <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 1%">
                          <label>
                              <font size="3">
                                  <b>From Date:</b>
                              </font>
                          </label>
                      </div>
                      <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:0%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.8%; margin-left:-1%;">
                            <button class="button button2" (click)="getpiecharts()"> Display </button>
                        </div>
                          <!-- Notes Section -->
                        <div class="col-sm-3" style="float: right;font-style: italic;"><b>Note :</b>Display of the average demand trend of different types of water in K/L with respect to time for the given date range.</div>
                        <!-- <p class="chartNotesSection">Note : Display of the average demand trend of different types of water in K/L with respect to time for the given date range.</p> -->
                      </div>
                        <hr style="margin-left:12%;margin-top:-3%">
                  <app-visuals-stp-chart [(data)] = "STPChartDataSet"></app-visuals-stp-chart>
                </div>
                <!-- usageChart section  *ngIf="navActive=='usageChart'"-->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='usageChart'}" *ngIf="navActive=='usageChart' && bubbleChartShowStatus && bubbleChartDataSet">
                    <!-- Date Picker -->
                    <div class="row">
                      <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 22%">
                          <label>
                              <font size="3">
                                  <b>From Date:</b>
                              </font>
                          </label>
                      </div>
                      <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:0%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.4%; margin-left:-0.5%;">
                            <button class="button button2" (click)="usageChart()"> Display </button>
                        </div>
                        <!-- Notes Section -->
                          <div class="col-sm-10" style="float: right;font-style: italic;"><b>Note :</b> Display of the consumption of water in K/L by all users for a given date range. Size of the bubble indicates the consumption.</div>
                        <!-- <p class="chartNotesSection">Note : Display of the consumption of water in K/L by all users for a given date range. Size of the bubble indicates the consumption.</p> -->
                    </div>
                    <hr style="margin-left:12%;margin-top:0%">
                    <app-visuals-usage-chart  [(data)]="bubbleChartDataSet"></app-visuals-usage-chart>
                </div>
                <!-- Gantt section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='ganttChart'}" *ngIf="navActive=='ganttChart' && ganttMapShowStatus && GanttsetData.length > 0">
                    <div class="row">
                        <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 19%">
                            <label>
                                <font size="3">
                                    <b>Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3">
                                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.4%; margin-left:-0.5%;">
                            <button class="button button2" (click)="ganttChart()"> Display </button>
                        </div>
                        <!-- Notes Section -->
                         <div class="col-sm-5" style="float: right;font-style: italic;"><b>Note :</b> Display of the ON/OFF states, Run duration, Stress level and yield in K/L of all the borewell pumps.</div>
                        <!-- <p class="chartNotesSection">Note : Display of the ON/OFF states, Run duration, Stress level and yield in K/L of all the borewell pumps.</p> -->
                    </div>
                    <hr style="margin-left:12%;margin-top: 0%; ">
                    <!-- <div id="ganttChartContainer"></div> -->
                    <div style="margin-left:10%;" class="ganttChartStyle">

                        <app-visuals-gantt-chart [(data)] = "GanttsetData"></app-visuals-gantt-chart>
                    </div>

                </div>

                <!-- Tree section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='tree'}" *ngIf="navActive=='tree' && treeMapShowStatus && treeMapChartSet.children.length > 0">
                    <!-- Date Picker -->
                    <div class="row">
                      <div class="col-md-1.5  pull-left" style="margin-top: 0.6%; margin-left: 16%">
                          <label>
                              <font size="3">
                                  <b>From Date:</b>
                              </font>
                          </label>
                      </div>
                      <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerFromDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.6%; margin-left:0%;">
                            <label>
                                <font size="3">
                                    <b>To Date:</b>
                                </font>
                            </label>
                        </div>
                        <div class="col-md-3" style="margin-top: 0.3%; margin-left:-0.5%;">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="pickerToDate" required></my-date-picker>
                        </div>
                        <div class="col-md-1.5 pull-left" style="margin-top: 0.8%; margin-left:-0.5%;">
                            <button class="button button2" (click)="treeMapChart()"> Display </button>
                        </div>
                        <!-- Notes Section -->
                         <div class="col-sm-10" style="float: right;font-style: italic;"><b>Note :</b>Display of the consumption of water in K/L on a block level and at an individual flat level (on-click of each block) for a given date range. Size of the squares indicates the consumption.</div>
                        <!-- <p class="chartNotesSection">Note : Display of the consumption of water in K/L on a block level and at an individual flat level (on-click of each block) for a given date range. Size of the squares indicates the consumption.</p> -->
                    </div>
                    <!-- <hr style="margin-left:12%; margin-top:-3%"> -->
                    <app-visuals-treemap-chart [(data)]="treeMapChartSet"></app-visuals-treemap-chart>
                </div>
                <!-- Sparkline section -->
                <div class="bhoechie-tab-content text-center" [ngClass]="{'active':navActive==='SL'}" *ngIf="navActive=='SL' && sparklinesSetData.length > 0 && SLMapShowStatus">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1.5 pull-left" style="margin-top: 1%; margin-left: 13%">
                                    <label>
                                        <font size="3">
                                            <b> Last: </b>
                                        </font>
                                    </label>
                                </div>
                                <div class="col-md-2" style="margin-top: 0.5%; margin-left: -4%">
                                    <input class="form-control" type="number" placeholder="Enter the week number(Max-52)" size="2" title="Enter the week number(Max-52)"
                                        [(ngModel)]="sparkLineWeek" min="0" max="52"> </div>
                                <!-- <div class="col-md-1" style="margin-top: 1.5%;margin-left: 15%">
                                    <font size="3">Week(s)</font>
                                </div> -->
                                <div class="col-md-1.5 pull-left" style="margin-top: 1%; margin-left:-4%;">
                                    <label>
                                        <font size="3">Week(s)</font>
                                    </label>
                                </div>
                                <div class="col-md-1" style="margin-top: 1%; margin-left:0.2%;">
                                    <button class="button button2" (click)="SLchart()"> Display </button>
                                </div>
                                <!-- Notes Section -->
                                  <div class="col-sm-7" style="float:right;">
                                    <p class="chartNotesSection"><b>Note :</b> Weekly trend in water quantity(K/L) of different sources for the given number of weeks in comparison with last week trend.</p>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-left:12%;margin-top:-0.1%;">
                    <app-visuals-sparkline-chart [(data)]="sparklinesSetData"></app-visuals-sparkline-chart>
                    </div>
            </div>
        </div>
    </div>
</div>
