<div class="row">
    <div class="col-md-12 text-center">
        Municipal
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <span class="bigDisp">{{(mwDat[0].levelvalue)/1000| number: '1.1-2'}}</span>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <span *ngIf="!mwDat[0].offline" class="microDisp">Today - {{(mwDat[0].today)/1000 | number:'1.1-2'}}</span>
        <span *ngIf="mwDat[0].offline">[No Data]</span>

    </div>
    <div class="col-md-12">
        <!--<md-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
        </md-progress-bar>-->
    </div>

    <div class="col-md-12 right-text">
        <span class="microDisp">Forecast</span>
        <span class="tinyDisp">-</span>
    </div>


</div>
