
.bigDisp {
    font-family: 'Roboto Condensed', sans-serif light;
    font-weight: 400;
    font-size: 20px;
}

.tinyDisp {
    font-size: 16px;
}

.microDisp {
    font-size: 12px;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
}
