<section class="panel panel-group spacerb">
    <header class="panel-heading bg-primary">

        <div class="widget-profile-info">


            <div class="profile-picture">
                <img src="assets/images/cityscape.png">
            </div>
            <div class="profile-info">
                <h4 class="name text-weight-semibold">{{this.siteName}}</h4>


            </div>
        </div>

    </header>
    <div id="accordion">
        <div class="panel panel-accordion panel-accordion-first">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">

                    </a>
                </h4>
            </div>
            <div id="collapse1One" class="accordion-body collapse in">
                <div class="panel-body">

                </div>
            </div>
        </div>
        <!-- <div class="panel panel-accordion">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                 <i class="fa fa-comment"></i> Messages
               </a>
             </h4>
           </div>
           <div id="collapse1Two" class="accordion-body collapse">
             <div class="panel-body">
               <ul class="simple-user-list mb-xlg">
                 <li>
                   <figure class="image rounded">
                     <img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
                   </figure>
                   <span class="title">Joseph Doe Junior</span>
                   <span class="message">Lorem ipsum dolor sit.</span>
                 </li>
                 <li>
                   <figure class="image rounded">
                     <img src="assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle">
                   </figure>
                   <span class="title">Joseph Junior</span>
                   <span class="message">Lorem ipsum dolor sit.</span>
                 </li>
                 <li>
                   <figure class="image rounded">
                     <img src="assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle">
                   </figure>
                   <span class="title">Joe Junior</span>
                   <span class="message">Lorem ipsum dolor sit.</span>
                 </li>
                 <li>
                   <figure class="image rounded">
                     <img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
                   </figure>
                   <span class="title">Joseph Doe Junior</span>
                   <span class="message">Lorem ipsum dolor sit.</span>
                 </li>
               </ul>
             </div>
           </div>
         </div>-->
    </div>
</section>
