/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

.ui-widget-header {
    border: 0px;
    text-align: center;
}

table, th, td {
    font-size: 12px;
}