<table id="table-sparkline" class="table table-bordered">
        <thead>
            <tr>
                <th>    </th>
                <th>Income</th>
                <th>Income per quarter</th>
                <th>Costs</th>
                <th>Costs per quarter</th>
            </tr>
        </thead>
        <tbody id="tbody-sparkline">
            <tr>
                <th>Alabama</th>
                <td>254</td>
                <td><div class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347]</div></td>
                <td>296</td>
                <td><div class="js-report-sparkline" data-range-low-color="red" data-range-high-color="blue" style="width: 250px">[0.3767,0.8800,2.1001,1.1000,1.300,0.8800,2.1476]</div></td>
            </tr>
            <tr>
                <th>Alabama</th>
                <td>254</td>
                <td><div class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347]</div></td>
                <td>296</td>
                <td><div class="js-report-sparkline" data-range-low-color="red" data-range-high-color="blue" style="width: 250px">[0.3767,0.8800,2.1001,1.1000,1.300,0.8800,2.1476]</div></td>
            </tr>

            <tr>
                <th>Alabama</th>
                <td>254</td>
                <td><div class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347]</div></td>
                <td>296</td>
                <td><div class="js-report-sparkline" data-range-low-color="red" data-range-high-color="blue" style="width: 250px">[0.3767,0.8800,2.1001,1.1000,1.300,0.8800,2.1476]</div></td>
            </tr>

            <tr>
                <th>Alabama</th>
                <td>254</td>
                <td><div class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347]</div></td>
                <td>296</td>
                <td><div class="js-report-sparkline" data-range-low-color="red" data-range-high-color="blue" style="width: 250px">[0.3767,0.8800,2.1001,1.1000,1.300,0.8800,2.1476]</div></td>
            </tr>

            <tr>
                <th>Alabama</th>
                <td>254</td>
                <td><div class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347]</div></td>
                <td>296</td>
                <td><div class="js-report-sparkline" data-range-low-color="red" data-range-high-color="blue" style="width: 250px">[0.3767,0.8800,2.1001,1.1000,1.300,0.8800,2.1476]</div></td>
            </tr>
        </tbody>
    </table>