<br>
<div class="col-md-8">
    <table id="table-sparkline" class="table table-bordered">
        <thead style="width: 100px;">
            <tr class="active">
                <th class="text-center" style="background-color:#5A55A3;width: 120px;">
                    <font size="4">Sources </font>
                </th>
                <th class="text-center" style="background-color:#5A55A3;width: 800px;">
                    <font size="4">Overall Trend </font>
                </th>
                <th class="text-center" style="background-color:#5A55A3;width: 30px;">
                    <font size="4">Performance </font>
                </th>
                <th class="text-center" style="background-color:#5A55A3;width: 300px;">
                    <font size="4">Last Week Trend </font>
                </th>
            </tr>
        </thead>
        <tbody id="tbody-sparkline">
            <tr>
                <td style="width: 100px;">
                    <font size="3" face="Times New Roman, Times, serif">
                        <b>Source 1 </b>
                    </font>
                </td>
                <td style="width: 100px;">
                    <span class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347,0.4123,0.521,0.432,0.987,0.456,0.763]</span>
                </td>
                <td style="width: 100px;">
                    <i class="glyphicon glyphicon glyphicon-triangle-top status_green"></i>
                    <font size="3" face="Times New Roman, Times, serif">88% </font>
                </td>
                <td style="width: 100px;">
                    <span id="Hcontainer1"></span>
                </td>
            </tr>

            <tr>
                <td style="width: 100px;">
                    <font size="3" face="Times New Roman, Times, serif">
                        <b>Source 2</b>
                    </font>
                </td>
                <td style="width: 100px;">
                    <span class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.4123,0.521,0.432,0.987,0.456,0.763,0.0297,0.0267,0.0312,0.0330,0.0386,0.0347]</span>
                </td>
                <td style="width: 100px;">
                    <i class="glyphicon glyphicon glyphicon-triangle-bottom status_red"></i>
                    <font size="3" face="Times New Roman, Times, serif">33%</font>
                </td>

                <td style="width: 100px;">
                    <span id="Hcontainer2"></span>
                </td>
            </tr>

            <tr>
                <td style="width: 100px;">
                    <font size="3" face="Times New Roman, Times, serif">
                        <b>Source 3</b>
                    </font>
                </td>
                <td style="width: 100px;">
                    <span class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.234,0.345,0.876,0.456,0.243,0.123,0.4123,0.521,0.432,0.987,0.456,0.763]</span>
                </td>
                <td style="width: 100px;">
                    <i class="glyphicon glyphicon glyphicon-triangle-top status_green"></i>
                    <font size="3" face="Times New Roman, Times, serif">55% </font>
                </td>

                <td style="width: 100px;">
                    <span id="Hcontainer3"></span>
                </td>
            </tr>

            <tr>
                <td style="width: 100px;">
                    <font size="3" face="Times New Roman, Times, serif">
                        <b>Source 4</b>
                    </font>
                </td>
                <td style="width: 100px;">
                    <span class="js-report-sparkline" data-range-low-color="orange" data-range-high-color="green">[0.0297,0.0267,0.0312,0.0330,0.0386,0.0347,0.4123,0.521,0.432,0.987,0.456,0.763]</span>
                </td>
                <td style="width: 100px;">
                    <i class="glyphicon glyphicon glyphicon-triangle-top status_green"></i>
                    <font size="3" face="Times New Roman, Times, serif">99% </font>
                </td>
                <td style="width: 100px;">
                    <span id="Hcontainer4"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>